# **USING PYTHON(sqlite built-in)good for Notebooks & Scripts**

**STEP 1:**
Create DB and tables,insert rows,query - all in Python.

In [5]:
import sqlite3

# Connect (Creates file if missing)
conn = sqlite3.connect("my_database.db")
cur = conn.cursor()

In [8]:
# Create Table
cur.execute("""
CREATE TABLE IF NOT EXISTS PEOPLE(
            ID Int PRIMARY KEY,
            Name Text,
            Age Int,
            Email Text
            );
            """)

In [9]:
# Insert roes (Parameterized to avoid SQL Injection)
PEOPLE = [
    ("Bob", 29, "bob@flatironschool.com"),
    ("James",28, "james@flatioronschool.com"),
    ("John", 29, "john@flatironschool.com"),
]

In [12]:
# Run a SELECT Query
cur.execute ("SELECT ID, Name, Age,Email FROM PEOPLE;")
rows = cur.fetchall()
for row in rows:
    print(row)

In [13]:
# aggregates example
cur.execute("SELECT age, COUNT(*) FROM people GROUP BY age;")
print(cur.fetchall())

# cleanup
conn.close()

[]